body {
    height: 95vh;
    width: 95vw;
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
    color: rgb(27, 126, 36);
    background-color: rgb(70, 14, 70)
    
}

canvas {
    background: red;
}

.iniciar-jogo {
    margin-top: 20px;
    padding: 10px;
    font-family: fantasy;
    font-size: 24px;
    background: red;
    cursor: pointer;
    border-radius: 20px;
    color: orange;
}

.iniciar-jogo:hover {
    background: green;
    color: white;
    padding: 11px;
    
}

/*  Página inicial */
.pagina-inicial-principal {
    display: flex;
    flex-direction: column;
}




    @media only screen and (max-width: 768px) {
        canvas {
          color: lightblue;
          width: 90%; 
          height: 90%;
        }
      }

